/////////////////////////////////////////////
///////////////Less Styling//////////////////////
/////////////////////////////////////////



//////////////////////////////////////////////////
////////////////Variables/////////////////////////////////
////////////////////////////////////////////////////
@lightBlue: #ddf;
@darkerRed:  #cc0000;
@lightGreen: #dfd;

@defaultThemeColor: @lightGreen;

.shape{
    display: inline-flex;
    flex-flow: column-reverse nowrap;
    width: 200px;
    height:200px;
    background: @defaultThemeColor;
    margin: 20px;
    -webkit-border-radius: 9999px;
       -moz-border-radius: 9999px;
            border-radius: 9999px;
            
}

#shape1{
    background: @lightBlue;
    
}