.shape {
  display: inline-flex;
  flex-flow: column-reverse nowrap;
  width: 200px;
  height: 200px;
  background: #dfd;
  margin: 20px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
}
#shape1 {
  background: #ddf;
}
